{{- if eq .Values.storage.type "azure-container-storage" }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ include "fio.fullname" . }}-acstor
  labels:
    {{- include "fio.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
provisioner: localdisk.csi.acstor.io
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
{{- end }}
